<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <style type = 'text/css'>
        body {font-family: Arial; font-size: 10pt;} 
        a {color: #857065;} 
    </style>
  </head>
  <body>
      <hr noshade size = 1 color = 'black'/>
      <p style = 'padding-top: 15; padding-bottom: 15px; float-left'>
          <a href = "http://npp-norma.ru">www.npp-norma.ru</a>
      </p>
  </body>
</html>
