<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style type = 'text/css'>
       .page, .topage {font-weight:bolder;}
       body {font-family: Arial; font-size: 10pt; margin: 0; padding: 0 0 0 0; border: 0; outline: 0; width: 100%; background-color:#F5EADE;} 
    </style>
  </head>
  <body onload="number_pages()">
      <table style = "width:100%; height: 30px; border: none; position:relative; margin-left:auto; margin-right:auto;">
          <tr>
              <td style = 'padding-left:10px;' align = 'left' valign = 'middle'>
                  НПП "НОРМА", телeфон: 8 (846) 99-77-524, факс: 8 (846) 99-77-523, e-mail: info@npp-norma.ru
              </td>
              <td align = 'center' valign = 'middle' style="background-color: #aa8972; color: white;">
                  Страница <span class="page"></span> из <span class="topage"></span>
              </td>
          </tr>
      </table>
  </body>
</html>
