<div class = "c-box">
    <div class='row tb-pad-l'>
        <div class='small-12 small-centered columns'>
            <h4>
                ...более 30-ти лет разрабатываем и производим...
            </h4>
            <p>
                Мы, Научно-производственное предприятие «НОРМА», более 30-ти лет разрабатываем и выпускаем автоматизированные системы, комплексы и многофункциональную аппаратуру для контроля и испытаний электрических параметров различной кабельной продукции на стадии её производства и эксплуатации.
            </p>
            <br />
            <p>
                Наше предприятие начало свою деятельность с разработки Систем Автоматизированного Контроля (САК) кабелей связи на этапе приёмо-сдаточных испытаний. САК зарекомендовали себя с положительной стороны в плане точности и отказоустойчивости измерительных узлов.
            </p>
            <img src = "/files/sak.jpg" />
        </div>
    </div>
</div>
<div class = "c-box">
    <div class='row'>
        <div class='small-12 small-centered columns'>
            <h4>
                ...производим приборы узкого профиля...
            </h4>
            <p>
                 На основе уже имеющихся технологий измерений и испытаний, были разработаны приборы узкого профиля, такие как Микроомметр мкОмМ-01м, Тераомметр ТОмМ-01, Цифровая Установка Высоковольтных Испытаний (ЦУВИ).
            </p>
            <img src = "/files/sak.jpg" />
        </div>
    </div>
</div>