<div class='row'>
    <div class='small-12 medium-5 columns'>
        <h5>
            Контактные данные
        </h5>
        <p>
            443080, г.Самара, улица Санфировой д.95в<br /> 
            <i class = 'fi-telephone'></i> 8(846)99-77-524  <br /> 
            <i class = 'fi-print'></i> 8(846)99-77-523 <br /> 
            <i class = 'fi-mail'></i> info@npp-norma.ru
        </p>
    </div>
    <div class='small-12 medium-7 columns'>
        <h5>
            Реквизиты
        </h5>
        <p>
            ИНН: 6317002135; КПП: 631601001 <br />
            расч/счет 40702810700000000097 в ОАО КБ «Солидарность», <br />
            БИК 043601706, кор/счет 30101810800000000706 г.Самара
        </p>
    </div>
</div>
<div class='row  tb-pad-s'>
    <div class='column'>
        <h5>
            Где находимся
        </h5>
        <p>
        <div style = 'width: 400px; height: 400px;'>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=KfZXBiEXRKctK0YNJz-JFDSxkftcc-d3&width=400&height=300"></script>
        </div>
    </p>
    </div>
    
</div>