<% @header = 'О нас' %>
 <div class='row' >
        <div class='small-12 medium-4 columns'>
            <p class = 'tb-pad-s'>
                Мы, Научно-производственное предприятие «НОРМА», более 30-ти лет разрабатываем и выпускаем автоматизированные системы, комплексы и многофункциональную аппаратуру для контроля и испытаний электрических параметров различной кабельной продукции на стадии её производства и эксплуатации.
            </p>
        </div>
        <div class='small-12 medium-4 columns'>
            <img src="/files/sak.jpg" alt="">
        </div>
        <div class='small-12 medium-4 columns'>
            <p class = 'tb-pad-s'>
                Наше предприятие начало свою деятельность с разработки Систем Автоматизированного Контроля (САК) кабелей связи на этапе приёмо-сдаточных испытаний. САК зарекомендовали себя с положительной стороны в плане точности и отказоустойчивости измерительных узлов.
            </p>
        </div>
    </div>
    <div class='row  tb-pad-s'>
        <div class='small-12 medium-4 columns'>
            <img src="/files/pika.jpg" alt="">
        </div>
        <div class='small-12 medium-4 columns'>
            <p class = 'tb-pad-s'>
                На основе уже имеющихся технологий измерений и испытаний, были разработаны приборы узкого профиля, такие как Микроомметр мкОмМ-01м, Тераомметр ТОмМ-01, Цифровая Установка Высоковольтных Испытаний (ЦУВИ).
            </p>
        </div>
        <div class='small-12 medium-4 columns'>
            <img src="/files/tera.jpg" alt="">
        </div>
    </div>
   

