<% @products.each do |p| %>
          <div class = 'callout medium'>
          <h2><%= p.s_name %></h2>
          <div class='row'>
              <div class = 'small-12 medium-3 columns'>
                <a class = 'float-left' href = '<%= product_path(p)%>'><%= image_tag p.photo.link.block, class: 'thumbnail'%></a>
              </div>
              <div class = 'small-12 medium-9 columns end'>
                <%=p.note.blank? ? "Краткого описания продукта нет" : p.note %>
              </div>
          </div>
        </div>
<%end%>