<div class = 'row'>
    <div class = 'small-12 medium-12 columns '>
        <ul class="menu">
          <li><a href="<%= products_path %>"><i class="fi-arrow-right"></i> <span>К списку продукции</span></a></li>
          <li><a href="<%= product_path(@product) %>"><i class="fi-arrow-right"></i> <span>К прибору</span></a></li>
        </ul>
    </div>
</div>

<%= render 'form' %>



