<div class = 'row'>
    <div class = 'small-11 small-offset-1 columns'>
        <%= link_to 'Перейти к прибору', @product %>
        <%= link_to 'Перейти к списку приборов', products_path %>
    </div>
</div>


<%= render 'form' %>



